<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Armadillo / Edit</title>
	<link href="/static/css/main.css" rel="stylesheet">
	<link href="/static/css/new.css" rel="stylesheet">
	<script src="/static/js/main.js"></script>
	<script src="/static/js/new.js"></script>
</head>
<body>
	<input type="hidden" id="r_parent" value="<%= content.parent %>">
	<input type="hidden" id="r_id" value="<%= content.id %>">

	<div class="container">
		<div class="surface padding-large">
			<h1 id="top">Main data</h1>
			<div class="form-group">
				<label for="displayname">Displayname</label>
				<input type="text" id="displayname" value="<%= content.displayname %>">
			</div>

			<div class="form-group">
				<label for="path">Path</label>
				<input type="text" id="path" value="<%= content.path %>">
			</div>

			<div class="form-group">
				<label for="nextUp">Next</label>
				<input type="text" id="nextUp" value="<%= content.next %>">
			</div>

			<div class="form-group">
				<label for="hasmeta">Has meta</label>
				<input type="number" min="0" max="1" id="hasmeta" value="<%= content.hasmeta %>">
			</div>

			<button onclick="saveMainData()" class="button primary padding-large margin-large">Save main data</button>
		</div>
		<div class="surface padding-large">
			<h1>Metadata</h1>

			<div class="form-group">
				<label for="fullname">Full name</label>
				<input type="text" id="fullname" value="<%= meta.fullname %>">
			</div>

			<div class="form-group">
				<label for="description">description</label>
				<input type="text" id="description" value="<%= meta.description %>">
			</div>

			<div class="form-group">
				<label for="thumbnail">Poster url</label>
				<input type="text" id="thumbnail" value="<%= meta.thumbnail %>">
			</div>

			<div class="form-group">
				<label for="rating">ratings</label>
				<input type="number" step="0.1" id="rating" value="<%= meta.rating %>" max="10" min="0">
			</div>

			<div class="form-group">
				<label for="introstart">Intro start time</label>
				<input type="number" id="introstart" value="<%= meta.introstart %>">
			</div>

			<div class="form-group">
				<label for="introend">Intro end time</label>
				<input type="number" id="introend" value="<%= meta.introend %>">
			</div>

			<div class="form-group">
				<label for="outrostart">Outro start time</label>
				<input type="number" id="outrostart" value="<%= meta.outrostart %>">
			</div>

			<button onclick="saveMetaData()" class="button primary padding-large margin-large">Save meta data</button>

			<!-- Only usable with themoviedatabase plugin enabled -->
			<div id="tmdb">

				<div id="updated-notification" class="hide">
					<a onclick="doSlideUp()" href="#top">
						<div id="un-content" class="padding-medium margin-medium">
							<h1>Imported! ↑</h1>
						</div>
					</a>
				</div>

				<hr>
				<h1>Import metadata</h1>
				<div id="metaImport">
					<input onkeydown="checkMetaHandlers()" type="search" id="searchUrl">
					<button onclick="searchMeta()" class="button primary padding-medium">Search with</button>

					<select id="handler">

					</select>

					<hr>
					<div id="metaSearchResults">

					</div>
				</div>
			</div>
			<!-- /////////////////////////////////////////////// -->

		</div>
	</div>
	<div style="z-index: 99999;" class="sticky-bottom footer primary padding-medium"> 
		<div class="container">
			<a class="margin-medium" onclick="history.back()" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z"/></svg></a>
		</div>
	</div>
</body>
</html>